{% extends 'base.html' %}
{% block title %}Captivate Interiors{% endblock %}
{% block content %}

<link rel="stylesheet" href="../static/home.css" type="text/css">

<body>    
    <!-- Homepage -->
    <div class="container">
        <div class="row py-4">
            <h3 style="font-family: 'Dancing Script', cursive; text-align: center;">Celebrate living with fine designing.</h3>
        </div>
        <!-- Restaurants -->
        <div class="row text-center pb-3">
            <h2 style="font-weight:bold;">Restaurants</h2>
        </div>
        <section class="row text-center">            
            <div class="col-3 d-flex align-items-center justify-content-center">
                <figure>
                    <img src="../static/Images/building-restaurant-room-cafe-coffeehouse-interior-design-1550993-pxhere.com.jpg" style="width:90%">
                    <figcaption class="mt-3">
                        <h4>Barker Restaurant</h4>
                        A project in Orewa, Auckland. A restaurant which has a unique vintage style...
                    </figcaption>
                </figure>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center">
                <figure>
                    <img src="../static/Images/restaurant-bar-room-cocktail-interior-design-design-903049-pxhere.com.jpg" style="width:90%">
                    <figcaption class="mt-3">
                        <h4>Richmond Restaurant</h4>
                        Here's our latest project in Auckland, New Zealand. It's a renovation project with an objective to provide a platform for art students...
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-center">
                <figure>
                    <img src="../static/Images/design-office-restaurant-building-interior-design-room-1627764-pxhere.com.jpg" style="width:90%">
                    <figcaption class="mt-3">
                        <h4>Birch Bar</h4>
                           A project in Remuera, Auckland, where nature vibe is the main selling point in this interior design...
                        </p>
                    </figcaption>
                </figure>
            </div>
        </section>
        <!-- Hotels -->
        <div class="row text-center pb-3">
            <h2 class="pt-5" style="font-weight:bold;">Hotels</h2>
        </div>
        <section class="row text-center">            
            <div class="col-3 d-flex align-items-center justify-content-center">
                <figure>
                    <img src="../static/Images/mansion-yacht-property-living-room-room-interior-design-763691-pxhere.com.jpg" style="width:90%">
                    <figcaption class="mt-3">
                        <h4>Hotelscape</h4>
                        A challenging project, where our team are required to design a narrow space but still make it spacious...                        
                    </figcaption>
                </figure>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center">
                <figure>
                    <img src="../static/Images/interior-home-decoration-relax-cottage-clean-607447-pxhere.com.jpg" style="width:90%">
                    <figcaption class="mt-3">
                        <h4>Garnet Hotel</h4>
                        Our latest project. As the name suggests, our client wants the interior design to be related to garnet stone and its earthly colour...          
                    </figcaption>
                </figure>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-center">
                <figure>
                    <img src="../static/Images/villa-floor-city-home-cottage-property-691375-pxhere.com.jpg" style="width:90%">
                    <figcaption class="mt-3">
                        <h4>Attract Hotel</h4>
                        A project where simplicity and vibrant colours are the themes the rooms has to follow...                       
                    </figcaption>
                </figure>
            </div>
        </section>
        <!-- Offices -->
        <div class="row text-center pb-3">
            <h2 class="pt-5" style="font-weight:bold;">Offices</h2>
        </div>
        <section class="row text-center">            
            <div class="col-3 d-flex align-items-center justify-content-center">
                <figure>
                    <img src="../static/Images/work-screen-table-board-chair-ceiling-735694-pxhere.com.jpg" style="width:90%">
                    <figcaption class="mt-3">
                        <h4>Target Office</h4>
                        A project where simple and modern are the main priority...                        
                    </figcaption>
                </figure>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center">
                <figure>
                    <img src="../static/Images/architecture-chair-window-glass-building-office-180635-pxhere.com.jpg" style="width:90%">
                    <figcaption class="mt-3">
                        <h4>Vertex Office</h4>
                        Our latest office project in Auckland, where our client wants to use natural light to enhance the atmosphere of the room...                      
                    </figcaption>
                </figure>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-center">
                <figure>
                    <img src="../static/Images/architecture-structure-wood-floor-building-ceiling-9341-pxhere.com.jpg" style="width:90%">
                    <figcaption class="mt-3">
                        <h4>Strive Office</h4>
                        A project with a challenging task where our team must design a comfortable office meeting space that also demands the people to strive better...                 
                    </figcaption>
                </figure>
            </div>
        </section>
        <!-- Homes -->
        <div class="row text-center pb-3">
            <h2 class="pt-5" style="font-weight:bold;">Homes</h2>
        </div>
        <section class="row text-center">            
            <div class="col-3 d-flex align-items-center justify-content-center">
                <figure>
                    <img src="../static/Images/floor-home-ceiling-property-living-room-furniture-678048-pxhere.com.jpg" style="width:90%">
                    <figcaption class="mt-3">
                        <h4>Benson House</h4>
                        A project in Remuera, Auckland. Modern simplicity are the trend for the past years, and our team wish to push the boundary of how creative a simple thing could be.                        
                    </figcaption>
                </figure>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center">
                <figure>
                    <img src="../static/Images/living-room-room-property-wall-interior-design-floor-1367038-pxhere.com.jpg" style="width:90%">
                    <figcaption class="mt-3">
                        <h4>Birch House</h4>
                        Our latest project in Stanley Point, Auckland, is one where a 'homey' atmosphere is our main priority. The client wish for his paintings to blend well with his living room, and so a cool colour palette is used...                   
                    </figcaption>
                </figure>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-center">
                <figure>
                    <img src="../static/Images/table-house-chair-floor-seating-interior-1014680-pxhere.com.jpg" style="width:90%">
                    <figcaption class="mt-3">
                        <h4>Ridge House</h4>
                        A project where the client wish to make their sofa the main point of their living room, while also putting it in the corner, near the windows...                     
                    </figcaption>
                </figure>
            </div>
        </section>                
    </div>
</body>
{% endblock %}